<style>


* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 150%;
}

header {
  text-align: center;
  font-size: 50px;
  color: black;
  
}

Nav {
	text-align: center;
	font-size: 15px;
	word-spacing: 30px;
	font: san-serif
	padding: 30px;
	padding-bottom: 20px;
}


article {
  float: left;
  padding: 30px;
  width: 80%;
  background-color: #f1f1f1;
  min-height: 800px;
 }

section:after {
  content: "";
  display: table;
  clear: both;
  display: block;
 
}

aside {
  float: right;
  max-width: 20%;
  background: #ccc;
  padding: 30px;
  padding-top: 20px;
  min-height: 800px;
 
}

footer {

	 /*position:fixed;*/
	 bottom: 0; 
	 width:100%; 
	 text-align: center;
	 padding-top: 20px;
	 word-spacing: 30px;
	
	}

table{
	padding: 15px;
}


</style>